mat-label,
h1 {
  color: orange;
}
mat-input {
  cursor: pointer;
}

.container {
  padding: 32px;
  width: 90%;
  margin: auto;

  mat-form-field {
    width: 100%;
  }

  button {
    margin: 8px;
  }
}
